
/* .button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .button:hover {
    opacity: 0.8;
  }
  .loginFormContainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  .userNameContainer {
    padding: 16px;
  } */